flows/Next_Lead_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>gatTargetAssignForReschedule</name>
        <label>gatTargetAssignForReschedule</label>
        <locationX>4714</locationX>
        <locationY>1118</locationY>
        <actionName>LeadAssignmentHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_All_Reschedule_Sales_Cadence_Targets</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionCadenceNames</name>
            <value>
                <elementReference>actionCadenceNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesRegion</name>
            <value>
                <elementReference>SalesRegion</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>targetIdsToBeFiltered</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>getTargetAssignForRehashSales</name>
        <label>getTargetAssignForRehashSales</label>
        <locationX>5066</locationX>
        <locationY>1118</locationY>
        <actionName>LeadAssignmentHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_All_Rehash_Sales_Cadence_Targets</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionCadenceNames</name>
            <value>
                <elementReference>actionCadenceNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesRegion</name>
            <value>
                <elementReference>SalesRegion</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>targetIdsToBeFiltered</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>getTargtIdsToFilter</name>
        <label>getTargtIdsToFilter</label>
        <locationX>4362</locationX>
        <locationY>1118</locationY>
        <actionName>LeadAssignmentHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_All_Paid_List_Journey_A_Field_Marketing_Sales_Cadence_Targets</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionCadenceNames</name>
            <value>
                <elementReference>actionCadenceNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesRegion</name>
            <value>
                <elementReference>SalesRegion</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>targetIdsToBeFiltered</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>MD_Shared_Lead_Target_Assignee</name>
        <label>MD Shared Lead Target Assignee</label>
        <locationX>5066</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_MD_Team_Leads_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NJ_North_Team_Lead_Target_Assignee</name>
        <label>NJ North Team Lead Target Assignee</label>
        <locationX>2954</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_NJ_North_Team_Leads_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NJ_South_Shared_Lead_Target_Assignee</name>
        <label>NJ South Shared Lead Target Assignee</label>
        <locationX>3482</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_NJ_South_Leads_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NY_East_Shared_Lead_Target_Assignee</name>
        <label>NY East Shared Lead Target Assignee</label>
        <locationX>4010</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_NY_East_Leads_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NY_West_Shared_Lead_Target_Assignee</name>
        <label>NY West Shared Lead Target Assignee</label>
        <locationX>4538</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_New_York_West_Leads_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rehash_Target_Assignee</name>
        <label>Rehash Target Assignee</label>
        <locationX>6122</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_Rehash_Contacts_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rescheduled_Target_Assignee</name>
        <label>Rescheduled Target Assignee</label>
        <locationX>5594</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_Reschedule_Contacts_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_CA_Team_Lead_Target_Assignee</name>
        <label>Set CA Team Lead Target Assignee</label>
        <locationX>2426</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_CA_Team_Leads_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_MA_North_Lead_Target_Assignee</name>
        <label>Set MA North Lead Target Assignee</label>
        <locationX>1370</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_MA_North_Team_Leads_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_MA_South_Lead_Target_Assignee</name>
        <label>Set MA South Lead Target Assignee</label>
        <locationX>1898</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_MA_South_Team_Leads_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_Shared_Lead_Target_Assignee</name>
        <label>Set Shared Lead Target Assignee</label>
        <locationX>842</locationX>
        <locationY>2030</locationY>
        <actionName>changeSalesCadenceTargetAssignee</actionName>
        <actionType>changeSalesCadenceTargetAssignee</actionType>
        <connector>
            <targetReference>New_Task_Assigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Lead_Found_in_Active_Cadence</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_All_Shared_Leads_with_Active_Sales_Cadence_Targets.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Contact_IDs_to_Text_Collection</name>
        <label>Add Contact IDs to Text Collection</label>
        <locationX>4802</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>varLeadsFromCadenceTracker</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Reschedule_Sales_Cadence_Targets.TargetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Reschedule_Sales_Cadence_Targets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_IDs_to_Text_Collection2</name>
        <label>Add Contact IDs to Text Collection</label>
        <locationX>5154</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>varLeadsFromCadenceTracker</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Rehash_Sales_Cadence_Targets.TargetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Rehash_Sales_Cadence_Targets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_IDs_to_Text_Collection_0</name>
        <label>Add Lead IDs to Text Collection</label>
        <locationX>4450</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>varLeadsFromCadenceTracker</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Paid_List_Journey_A_Field_Marketing_Sales_Cadence_Targets.TargetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Paid_List_Journey_A_Field_Marketing_Sales_Cadence_Targets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetActionCadenceName</name>
        <label>SetActionCadenceName</label>
        <locationX>4362</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>actionCadenceNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Field Marketing Journey;Paid List Journey A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTargtIdsToFilter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetActionCadenceNameForReschedule</name>
        <label>SetActionCadenceNameForReschedule</label>
        <locationX>4714</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>actionCadenceNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Reschedule Journey</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>gatTargetAssignForReschedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetActionCadeneceForRehashSales</name>
        <label>SetActionCadeneceForRehashSales</label>
        <locationX>5066</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>actionCadenceNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Rehash Team Journey</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTargetAssignForRehashSales</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Have_Lead_Contact_Assigned</name>
        <label>Already Have Lead/Contact Assigned?</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lead/Contact Assigned</defaultConnectorLabel>
        <rules>
            <name>Lead_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Lead_Assigned</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Already_Assigned</targetReference>
            </connector>
            <label>Lead Assigned</label>
        </rules>
        <rules>
            <name>Contact_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Contact_Assigned</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Already_Assigned</targetReference>
            </connector>
            <label>Contact Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Team_Assigned</name>
        <label>Sales Team Assigned?</label>
        <locationX>2162</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Which_Team_is_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assigned</defaultConnectorLabel>
        <rules>
            <name>Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Sales_Team_Assigned</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Team_is_Assigned</name>
        <label>Which Team is Assigned?</label>
        <locationX>3746</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Sales_Team_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Team Found</defaultConnectorLabel>
        <rules>
            <name>Shared_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shared Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetActionCadenceName</targetReference>
            </connector>
            <label>Shared Leads</label>
        </rules>
        <rules>
            <name>MA_North_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA North Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetActionCadenceName</targetReference>
            </connector>
            <label>MA North Team</label>
        </rules>
        <rules>
            <name>MA_South_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA South Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetActionCadenceName</targetReference>
            </connector>
            <label>MA South Team</label>
        </rules>
        <rules>
            <name>CT_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CT Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetActionCadenceName</targetReference>
            </connector>
            <label>CT Team</label>
        </rules>
        <rules>
            <name>NJ_North_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NJ North Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetActionCadenceName</targetReference>
            </connector>
            <label>NJ North Team</label>
        </rules>
        <rules>
            <name>NJ_South_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NJ South Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetActionCadenceName</targetReference>
            </connector>
            <label>NJ South Team</label>
        </rules>
        <rules>
            <name>NY_East_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY East Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetActionCadenceName</targetReference>
            </connector>
            <label>NY East Team</label>
        </rules>
        <rules>
            <name>NY_West_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY West Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetActionCadenceName</targetReference>
            </connector>
            <label>NY West Team</label>
        </rules>
        <rules>
            <name>MD_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MD Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetActionCadenceName</targetReference>
            </connector>
            <label>MD Team</label>
        </rules>
        <rules>
            <name>Reschedule_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetActionCadenceNameForReschedule</targetReference>
            </connector>
            <label>Reschedule Team</label>
        </rules>
        <rules>
            <name>Rehash_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rehash Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetActionCadeneceForRehashSales</targetReference>
            </connector>
            <label>Rehash Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Team_is_Assigned2</name>
        <label>Which Team is Assigned?</label>
        <locationX>3746</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Sales_Team_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Team Found</defaultConnectorLabel>
        <rules>
            <name>Shared_Leads2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shared Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Shared_Leads_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>Shared Leads</label>
        </rules>
        <rules>
            <name>MA_North_Team2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA North Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_MA_North_Team_Leads_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>MA North Team</label>
        </rules>
        <rules>
            <name>MA_South_Team2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA South Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_MA_South_Team_Leads_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>MA South Team</label>
        </rules>
        <rules>
            <name>CT_Team2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CT Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_CA_Team_Leads_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>CT Team</label>
        </rules>
        <rules>
            <name>NJ_North_Team2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NJ North Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_NJ_North_Team_Leads_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>NJ North Team</label>
        </rules>
        <rules>
            <name>NJ_South_Team2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NJ South Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_NJ_South_Leads_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>NJ South Team</label>
        </rules>
        <rules>
            <name>NY_East_Team2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY East Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_NY_East_Leads_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>NY East Team</label>
        </rules>
        <rules>
            <name>NY_West_Team2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY West Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_New_York_West_Leads_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>NY West Team</label>
        </rules>
        <rules>
            <name>MD_Team2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MD Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_MD_Team_Leads_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>MD Team</label>
        </rules>
        <rules>
            <name>Reschedule_Team2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Reschedule_Contacts_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>Reschedule Team</label>
        </rules>
        <rules>
            <name>Rehash_Team2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team.Sales_Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rehash Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Rehash_Contacts_with_Active_Sales_Cadence_Targets</targetReference>
            </connector>
            <label>Rehash Team</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SalesRegion</name>
        <dataType>String</dataType>
        <expression>IF(   {!Get_Sales_Team.Sales_Team__r.Name} == &apos;Shared Leads&apos;, &apos;Shared Lead&apos;,  
IF(   {!Get_Sales_Team.Sales_Team__r.Name} == &apos;MA North Team&apos;, &apos;Boston North&apos; ,
IF(   {!Get_Sales_Team.Sales_Team__r.Name} == &apos;MA South Team&apos;, &apos;Boston South&apos; ,
IF(   {!Get_Sales_Team.Sales_Team__r.Name} == &apos;CT Team&apos;, &apos;Connecticut&apos; ,
IF(   {!Get_Sales_Team.Sales_Team__r.Name} == &apos;NJ North Team&apos;, &apos;New Jersey North&apos; ,
IF(   {!Get_Sales_Team.Sales_Team__r.Name} == &apos;NJ South Team&apos;, &apos;New Jersey South&apos; ,
IF(   {!Get_Sales_Team.Sales_Team__r.Name} == &apos;NY East Team&apos;, &apos;New York East&apos; ,
IF(   {!Get_Sales_Team.Sales_Team__r.Name} == &apos;NY West Team&apos;, &apos;New York West&apos; ,
IF(   {!Get_Sales_Team.Sales_Team__r.Name} == &apos;MD Team&apos;, &apos;Maryland&apos; ,&apos;&apos;
 )))))))))</expression>
    </formulas>
    <interviewLabel>Next Lead Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Next Lead Assignment</label>
    <loops>
        <description>Journey A, Field Marketing</description>
        <name>Loop_Through_Paid_List_Journey_A_Field_Marketing_Sales_Cadence_Targets</name>
        <label>Loop Through Paid List Journey A, Field Marketing Sales Cadence Targets</label>
        <locationX>4362</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_All_Paid_List_Journey_A_Field_Marketing_Sales_Cadence_Targets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Lead_IDs_to_Text_Collection_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_Team_is_Assigned2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Rehash</description>
        <name>Loop_Through_Rehash_Sales_Cadence_Targets</name>
        <label>Loop Through Rehash Sales Cadence Targets</label>
        <locationX>5066</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_All_Rehash_Sales_Cadence_Targets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_IDs_to_Text_Collection2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_Team_is_Assigned2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Reschedule</description>
        <name>Loop_Through_Reschedule_Sales_Cadence_Targets</name>
        <label>Loop Through Reschedule Sales Cadence Targets</label>
        <locationX>4714</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_All_Reschedule_Sales_Cadence_Targets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_IDs_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_Team_is_Assigned2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Existing_Contact_Assigned</name>
        <label>Existing Contact Assigned?</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Have_Lead_Contact_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Lead_Assigned</name>
        <label>Existing Lead Assigned?</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact_Assigned</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_CA_Team_Leads_with_Active_Sales_Cadence_Targets</name>
        <label>Get All CA Team Leads with Active Sales Cadence Targets</label>
        <locationX>2426</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_CA_Team_Lead_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connecticut</stringValue>
            </value>
        </filters>
        <filters>
            <field>ScoreIntelligenceId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Lead_Score_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_MA_North_Team_Leads_with_Active_Sales_Cadence_Targets</name>
        <label>Get All MA North Team Leads with Active Sales Cadence Targets</label>
        <locationX>1370</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_MA_North_Lead_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Boston North</stringValue>
            </value>
        </filters>
        <filters>
            <field>ScoreIntelligenceId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Lead_Score_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_MA_South_Team_Leads_with_Active_Sales_Cadence_Targets</name>
        <label>Get All MA South Team Leads with Active Sales Cadence Targets</label>
        <locationX>1898</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_MA_South_Lead_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Boston South</stringValue>
            </value>
        </filters>
        <filters>
            <field>ScoreIntelligenceId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Lead_Score_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_MD_Team_Leads_with_Active_Sales_Cadence_Targets</name>
        <label>Get All MD Team Leads with Active Sales Cadence Targets</label>
        <locationX>5066</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MD_Shared_Lead_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maryland</stringValue>
            </value>
        </filters>
        <filters>
            <field>ScoreIntelligenceId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Lead_Score_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_New_York_West_Leads_with_Active_Sales_Cadence_Targets</name>
        <label>Get All New York West Leads with Active Sales Cadence Targets</label>
        <locationX>4538</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NY_West_Shared_Lead_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New York West</stringValue>
            </value>
        </filters>
        <filters>
            <field>ScoreIntelligenceId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Lead_Score_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_NJ_North_Team_Leads_with_Active_Sales_Cadence_Targets</name>
        <label>Get All NJ North Team Leads with Active Sales Cadence Targets</label>
        <locationX>2954</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NJ_North_Team_Lead_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Jersey North</stringValue>
            </value>
        </filters>
        <filters>
            <field>ScoreIntelligenceId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Lead_Score_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_NJ_South_Leads_with_Active_Sales_Cadence_Targets</name>
        <label>Get All NJ South Leads with Active Sales Cadence Targets</label>
        <locationX>3482</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NJ_South_Shared_Lead_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Jersey South</stringValue>
            </value>
        </filters>
        <filters>
            <field>ScoreIntelligenceId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Lead_Score_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_NY_East_Leads_with_Active_Sales_Cadence_Targets</name>
        <label>Get All NY East Leads with Active Sales Cadence Targets</label>
        <locationX>4010</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NY_East_Shared_Lead_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New York East</stringValue>
            </value>
        </filters>
        <filters>
            <field>ScoreIntelligenceId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Lead_Score_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Paid_List_Journey_A_Field_Marketing_Sales_Cadence_Targets</name>
        <label>Get All Paid List Journey A, Field Marketing Sales Cadence Targets</label>
        <locationX>4362</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Paid_List_Journey_A_Field_Marketing_Sales_Cadence_Targets</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6</filterLogic>
        <filters>
            <field>StepType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Wait</stringValue>
            </value>
        </filters>
        <filters>
            <field>StepType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AutoSendAnEmail</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActionCadenceName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid List Journey A</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActionCadenceName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Marketing Journey</stringValue>
            </value>
        </filters>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetIdsToBeFiltered</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionCadenceStepTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Rehash_Contacts_with_Active_Sales_Cadence_Targets</name>
        <label>Get All Rehash Contacts with Active Sales Cadence Targets</label>
        <locationX>6122</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rehash_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Rehash_Sales_Cadence_Targets</name>
        <label>Get All Rehash Sales Cadence Targets</label>
        <locationX>5066</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Rehash_Sales_Cadence_Targets</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>StepType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Wait</stringValue>
            </value>
        </filters>
        <filters>
            <field>StepType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AutoSendAnEmail</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActionCadenceName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rehash Team Journey</stringValue>
            </value>
        </filters>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetIdsToBeFiltered</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionCadenceStepTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Reschedule_Contacts_with_Active_Sales_Cadence_Targets</name>
        <label>Get All Reschedule Contacts with Active Sales Cadence Targets</label>
        <locationX>5594</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rescheduled_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Reschedule_Sales_Cadence_Targets</name>
        <label>Get All Reschedule Sales Cadence Targets</label>
        <locationX>4714</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Reschedule_Sales_Cadence_Targets</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>StepType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Wait</stringValue>
            </value>
        </filters>
        <filters>
            <field>StepType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AutoSendAnEmail</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActionCadenceName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reschedule Journey</stringValue>
            </value>
        </filters>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetIdsToBeFiltered</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionCadenceStepTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Shared_Leads_with_Active_Sales_Cadence_Targets</name>
        <label>Get All Shared Leads with Active Sales Cadence Targets</label>
        <locationX>842</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Shared_Lead_Target_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionCadenceAssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SalesCadenceDefaultTargetOwnerAssignee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varLeadsFromCadenceTracker</elementReference>
            </value>
        </filters>
        <filters>
            <field>ScoreIntelligenceId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Lead_Score_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Team</name>
        <label>Get Sales Team</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Team_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Team_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Already_Assigned</name>
        <label>Contact Already Assigned</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disNextTaskTitle2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Next Task Assignment Flow&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You already have a Contact assigned. &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Navigate to your Work Queue then reach out or mark the step complete before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_Already_Assigned</name>
        <label>Lead Already Assigned</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_disNextTaskTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Next Task Assignment Flow&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You already have a Lead assigned. Navigate to your Work Queue then reach out or mark the step complete before proceeding.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Task_Assigned</name>
        <label>New Task Assigned</label>
        <locationX>3746</locationX>
        <locationY>2510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disSalesTeamName</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;em style=&quot;color: rgb(102, 102, 102); font-size: 10px;&quot;&gt;{!Get_Sales_Team.Sales_Team__r.Name}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>disNewTaskAssigned</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Next Task Assigned!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Your new Task Assignment is ready in your Work Queue. It make take a refresh of the page/component to show up. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Next_Lead</name>
        <label>Next Lead</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Existing_Lead_Assigned</targetReference>
        </connector>
        <fields>
            <name>disNextTaskTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Next Task Assignment Flow&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Click &apos;Next Lead&apos; to be assigned a Lead.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next Task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Lead_Found_in_Active_Cadence</name>
        <label>No Lead Found in Active Cadence</label>
        <locationX>2690</locationX>
        <locationY>2150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disNextTaskError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Next Task Assignment Flow  &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Either there are no Leads that fit this list description or there are no available Leads in an Active Cadence. Please contact your manager or system administrator. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Sales_Team_Assigned</name>
        <label>No Sales Team Assigned</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_disNextTaskTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Next Task Assignment Flow&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You do not have a Sales Team assigned OR your Sales Team is not yet set up as part of Next Task Assignment. Reach out to your manager in order to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Next_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Semicolon Separated for multiple</description>
        <name>actionCadenceNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>SharedLeadToUse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>targetIdsToBeFiltered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>targetIdsToFilter</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadsFromCadenceTracker</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadsFromCadenceTracker2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
